# Specific Directories
.ipynb_checkpoints/
.vscode/
__pycache__/
kgstorage/

# Directory Patterns
*/archive/
agent_prompts/[a-z]*_T\d{2,}.md
T\d{2,}_dkb/

# Specific Files
.env
abc_dev_prompt.md
test.py
queue.sqlite3

# File Patterns
*.jpg
*.log
*.pdf
*.png
analysis_*.json
