gunicorn==23.0.0
networkx==3.4.2
pydantic==2.12.5
python-dotenv==1.2.1
supervisor==4.3.0
thefuzz==0.22.1
transitions==0.9.3

sofia-utils @ git+https://github.com/luis-i-reyes-castro/sofia-utils.git@main
wa-agents @ git+https://github.com/luis-i-reyes-castro/wa-agents.git@main
